{% extends 'template/main.twig' %}
{%block title %}Recherche{%endblock%}
{% block head %}
    <link rel="stylesheet" href="css/recherche.css">
    <link rel="stylesheet" href="css/bootstrap-tokenfield.min.css">
    <link rel="stylesheet" href="css/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="css/tokenfield-typeahead.min.css">
{%endblock%}
{% block contenu %}
    <!--<script>
        $(document).ready(function(){
            $(".test").popover();
        });
    </script>
    <a id="tooltip" href="#" tabindex="0" class="btn btn-lg btn-danger test" role="button" data-toggle="popover" data-trigger="hover" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a>
     -->       
        
    <form action="recherche.php">
        <div class="row">
            <div class="col-md-12">
                <input type="text" name="q" id="recherche" placeholder="recherche" value="{{data.query is not null?data.query:''}}">
                <input type="submit" class="btn btn-primary" value="Rechercher!">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <select type="text" name="competence[]" id="filtrecompetence" placeholder="Filtrer les compétences des profiles" multiple></select>
            </div>
            <div class="col-md-6">
                <select type="text" name="tag[]" id="filtretag" placeholder="Filtrer les tags des projets" multiple></select>
            </div>
        </div>

    </form>

    <!-- Tab panes selector -->
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">Tout</a></li>
        <li role="presentation" class=""><a href="#profil" aria-controls="profil" role="tab" data-toggle="tab">Profil</a></li>
        <li role="presentation" class=""><a href="#projet" aria-controls="projet" role="tab" data-toggle="tab">Projet</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        {# Toute les données en cas de query général #}
        <div role="tabpanel" class="tab-pane active" id="all">
            {# Output data à l'utilisateur #}            
                <div class="row">
                    <div class="col-md-6">                    
                        {% for profile in data.profiles %}
                            <p><a href="profil.php?id={{profile.id}}" >{{ profile.username }}</a> <br/>
                                <small>
                                {% for comp in profile.competences %} 
                                    <button class="btn btn-default btn-xs">{{comp.competence}} </button>
                                {%endfor%}
                                </small>
                            </p>
                        {% else %}
                            <p>Il n'y a aucun profile qui correspond à votre recherche</p>
                        {%endfor%}                  
                    </div>
                    <div class="col-md-6">
                    
                        {% for projet in data.projets %}
                            <p class="projet"><strong>{{ projet.titre|title }}</strong> <br> {{ projet.description }} <br>
                                <small>
                                {% for tag in projet.tags %} 
                                    {{tag.nom}}  
                                {%endfor%}
                                </small>
                            </p>
                        {% else %}
                            Il n'y a aucun projet qui correspond à votre recherche <br/>
                        {%endfor%}
                    </div>
                </div>
        </div>
        {# Tout les profil par comptéence #}
        <div role="tabpanel" class="tab-pane" id="profil">      
            {# Output data à l'utilisateur #}
            <div class="row">
                <div class="col-md-12">
                    {% if data.profiles|length > 0 %}
                        {% for profile in data.profiles %}
                            <p>{{ profile.prenom }} - {{ profile.nom }}<p>
                        {%endfor%}
                    {% else %}
                        Il n'y a aucun profile qui correspond à votre recherche <br/>
                    {% endif %}
                </div>
            </div>
        </div>
        {# Tout les projets par tag #}
        <div role="tabpanel" class="tab-pane" id="projet">
            {# Output data à l'utilisateur #}
            <div class="row">                
                <div class="col-md-12">
                    {% for projet in data.projets %}
                        <p><strong>{{ projet.titre|title }}</strong> <br> {{ projet.description }}<br/>
                            <small>
                            {% for tag in projet.tags %} 
                                {{tag.nom}} | {{ tag.id }}
                            {%endfor%}
                            </small>
                        </p>
                    {% else %}
                        Il n'y a aucun projet qui correspond à votre recherche <br/>
                    {%endfor%}
                </div>
            </div>
        </div>
      </div>
    </div>
                {{dump(data)}}
    <script src="js/tagsinput.min.js" ></script>
    <script src="js/handlebars.js"></script>
    <script src="js/typeahead.js"></script>
    <script src="js/recherche.js"></script>
    {# reremplit les différents filtres #}
    <script>
        $(document).ready(function(){
            {% for tag in data.filtre.tags %}
                $("#filtretag").tagsinput('add', { "id": {{ tag.id }} , "nom": "{{ tag.nom }}"   });
            {% endfor %}

            {% for tag in data.filtre.competences %}
                $("#filtrecompetence").tagsinput('add', { "id": {{ tag.id }} , "competence": "{{ tag.competence }}"   });
            {% endfor %}
        });
    </script>
{% endblock %}