{# 
    Description: Affiche tous ce qui concèrnent les projets (ajout de projet, mes projets, modification de projet, ...)
#}

{% extends "template/main.twig" %}
{%block title %}Projets{%endblock%}

{% block contenu %}
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#projets" aria-controls="all" role="tab" data-toggle="tab">Mes projets  <span class="badge">{{data.user_project|length}}</span></a></li>
            <li role="presentation" class=""><a href="#candidature" aria-controls="candidature" role="tab" data-toggle="tab">Candidatures en attente  <span class="badge">{{data.candidatures|length}}</span></a></li>
            <li role="presentation" class=""><a href="#candidatureRefuser" aria-controls="candidature" role="tab" data-toggle="tab">Candidatures refusées <span class="badge">{{data.candidaturesRefuser|length}}</span></a></li>
            <li role="presentation" class=""><a href="#inscrit" aria-controls="membre" role="tab" data-toggle="tab">Membre dans  <span class="badge">{{data.membres|length}}</span></a></li>
            <li role="presentation" class=""><a href="#suggestion" aria-controls="membre" role="tab" data-toggle="tab">Suggestion de projets <span class="badge">{{data.suggestions|length}}</span> </a></li>
        </ul>

      <!-- Tab panes -->
    <div class="tab-content">
        {# Ajout de projet #}
        <div role="tabpanel" class="tab-pane active" id="projets">
            <div class="well">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <form method="GET" >
                            <input type="hidden"     name="action"       value="ajout">   
                            <input class="btn btn-success btn-lg btn-block" type="submit"     name="submit"       value="ajouter">
                        </form>
                    </div>
                </div>
            </div>
            {# Tous les projet de la personne #}
            {% for projet in data.user_project%}
                {% include 'include/projet.twig' %}
            {% else %}
                <div class="well">
                    <h2>Vous n'avez aucun projet.</h2>
                    <h3>Cliquez sur "ajouter" pour créer votre premier projet</h3>
                </div>
            {%endfor%}
        </div>
        {# Candidature en attente de validation #}
        <div role="tabpanel" class="tab-pane" id="candidature"> 
            {% for candidat in data.candidatures%}
                <div class="well">
                    <div class="row">
                        <div class="col-md-12">
                            <p><h1><a href="projet.php?id={{candidat.idprojet}}">{{ candidat.titre }}</a></h1></p>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Vous n'êtes candidat dans aucun projet</p>
            {%endfor%}
        </div>
        {# Membre dans #}
        <div role="tabpanel" class="tab-pane" id="inscrit">            
                {% for projet in data.membres%}
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <p><h1><a href="projet.php?id={{projet.id}}">{{ projet.titre }}</a></h1></p>
                            </div>
                        </div>
                        {%if this.id != projet.createur_id%}
                        <div class="row">
                            <div class="col-md-2 col-md-offset-5">
                                <p>
                                    <form method="POST" action='projet.php'>
                                        <input type="hidden"     name="action"       value="quitter_projet">
                                        <input type="hidden"     name="projet_id"     value="{{projet.id}}">
                                        <input type ="hidden" name="candidat_id" value="{{projet.pivot.id}}">
                                        <input type="submit"     name="submit"     value="quitter"      class="btn btn-danger">
                                    </form>
                                </p>
                            </div>
                        </div>
                        {%endif%}
                    </div>
                {% else %}
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <p><h3>Vous n'êtes membre dans aucun projet</h3></p>
                            </div>
                        </div>
                    </div>
                {%endfor%}
        </div>
        {# Suggesion Refusé #}
        <div role="tabpanel" class="tab-pane" id="suggestion"> 
            {% for suggestion in data.suggestions%}
                
                <div class="well">
                    <div class="row">
                        <div class="col-md-12">
                            <p><h1><a href="projet.php?id={{suggestion.id}}">{{ suggestion.titre }}</a></h1></p>
                        </div>
                    </div>
                    <div class="row">
                        <form method="POST" >
                            <input type="hidden"     name="action"       value="validation_proposition">
                            <input type="hidden"     name="candidat_id"     value="{{suggestion.pivot.id}}">
                            <div class="col-md-1 col-md-offset-5">
                                <input type="submit"     name="etat"     value="accepter"      class="btn btn-primary">
                            </div>
                            <div class="col-md-1">
                                <input type="submit"     name="etat"      value="refuser"       class="btn btn-danger"> 
                            </div>
                        </form>
                    </div>
                </div>
            {% else %}
                <div class="well">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Vous n'êtes proposer dans aucun projet dans aucun projet</h3>
                        </div>
                    </div>
                </div>
            {%endfor%}
        </div>
        {# Candidature Refusé #}
        <div role="tabpanel" class="tab-pane" id="candidatureRefuser">
            {% for candidat in data.candidaturesRefuser%}
                <div class="well">
                    <div class="row">
                        <div class="col-md-12">
                            <p><h1><a href="projet.php?id={{candidat.id}}">{{ candidat.titre }}</a></h1></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p><h3>{{ candidat.description }}</h3></p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="well">
                    <div class="row">
                        <div class="col-md-12">
                            <p><h3><p>Vous n'avez été refusé dans aucun projet</p></h3></p>
                        </div>
                    </div>
                </div>
            {%endfor%}
        </div>
    </div>
        
    
    
{% endblock %}
{%block script %}
    {{parent()}}
    <script src="js/projet.js"></script>
{%endblock%}

